<form [formGroup]="playerSearchForm" class="dl-player-search-form" novalidate>
    <mat-form-field class="dl-display-name">
        <input matInput placeholder="Display name" formControlName="displayName">
    </mat-form-field>

    <mat-form-field class="dl-membership-type">
        <mat-select placeholder="Membership type" formControlName="membershipType">
            <mat-option *ngFor="let membershipType of membershipTypes" [value]="membershipType.value">
                {{ membershipType.name }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <button mat-button (click)="search()">Search</button>
</form>